*{margin: 0; padding: 0; font-family:Arial,Verdana,Sans-serif;
   /*处理BUG*/
    -webkit-tap-highlight-color: transparent;  
    -webkit-appearance: none;   
    }
a{ text-decoration: none;}
li{ list-style: none;}
a:hover{
  
}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
input,textarea{outline: none;}
textarea{resize: none;}
/*全局设置字号*/
html{font-size:10px}
@media screen and (min-width:320px) and (max-width:375px){html{font-size:13px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:15px}}
@media screen and (min-width:415px) {html{font-size:18px}}
/*开启硬件加速*/
.Ac{
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
 
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
}
/*常用配置*/
.wrap{ max-width: 640px;width: 100%; margin: auto;}
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
.clear{clear: both;}
.img-responsive{ display: block;max-width: 100%;height: auto; margin: auto;}
.img-circle{border-radius:50%}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.row {
  width: 100%;
  clear: both;
}
.hidden{ display: none;}
.red_error{border:#ff0000 solid 1px!important;color:#ff0000!important;}
.blank0{ height: 0rem;clear: both; overflow: hidden;}
.blank1{ height: 1rem;clear: both; overflow: hidden;}
.blank2{ height: 2rem;clear: both; overflow: hidden;}
.blank3{ height: 3rem;clear: both; overflow: hidden;}
.blank4{ height: 4rem;clear: both; overflow: hidden;}
.bk_white{ background: #FFFFFF;}
.bk_gray{ background: #f6f6f6;}
.bk_gray2{background:#f7f3f1 ;}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9
{float:left}
.col-xs-12{width:100%}
.col-xs-11{width:91.66666667%}
.col-xs-10{width:83.33333333%}
.col-xs-9{width:75%}
.col-xs-8{width:66.66666667%}
.col-xs-7{width:58.33333333%}
.col-xs-6{width:50%}
.col-xs-5{width:41.66666667%}
.col-xs-4{width:33.33333333%}
.col-xs-3{width:25%}
.col-xs-2{width:16.66666667%}
.col-xs-1{width:8.33333333%}
.col-xs-offset-12 {margin-left: 100%;}
.col-xs-offset-11 {margin-left: 91.66666667%;}
.col-xs-offset-10 {margin-left: 83.33333333%;}
.col-xs-offset-9 {margin-left: 75%;}
.col-xs-offset-8 {margin-left: 66.66666667%;}
.col-xs-offset-7 {margin-left: 58.33333333%;}
.col-xs-offset-6 {margin-left: 50%;}
.col-xs-offset-5 {margin-left: 41.66666667%;}
.col-xs-offset-4 {margin-left: 33.33333333%;}
.col-xs-offset-3 {margin-left: 25%;}
.col-xs-offset-2 {margin-left: 16.66666667%;}
.col-xs-offset-1 {margin-left: 8.33333333%;}
.col-xs-offset-0 {margin-left: 0;}

/*fonts*/

@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-back01:before { content: "\e60b"; }
.icon-back02:before { content: "\e60c"; }
.icon-shanchu01:before { content: "\e608"; }
.icon-shanchu02:before { content: "\e60a"; }
.icon-xiaoxi01:before { content: "\e600"; }
.icon-weixuanzhong:before { content: "\e601"; }
.icon-xuanzhong:before { content: "\e602"; }
.icon-xiaoxi02:before { content: "\e603"; }
.icon-weixin:before { content: "\e607"; }
.icon-xiaoxi03:before { content: "\e604"; }
.icon-zhifubao:before { content: "\e609"; }
.icon-bianji01:before { content: "\e605"; }
.icon-bianji02:before { content: "\e606"; }

/*center*/
.headertop{ width: 100%; height: 22rem; background:url(../images/top_bk.jpg) no-repeat center ; overflow: hidden;}
.headerimg{width: 6.6rem; height: 6.6rem; border-radius: 3.3rem; overflow: hidden; margin:5rem auto 0rem; }
.headertop a{font-size: 1.3rem; color: #FFFFFF; text-align: center;display: block; margin: 1rem auto 0.5rem;}
.headertop span{ color: #817873;}
.headertop p{text-align: center;font-size: 1.3rem; color: #817873;}

.center_list{ width: 90%; margin: auto; }
.center_list img{ width: 75%; display: block; margin:0rem auto 1rem;}
.center_list figcaption{text-align: center; font-size: 1rem; color: #997663;}
.center_list .row{ padding: 1.5rem 0rem; border-bottom: #eee9e7 solid 1px;}


/*pay_member*/

.top_yue{ height: 4.6rem; background: #FFFFFF ; width: 90%; line-height: 4.6rem; font-size: 1.3rem; padding:0rem 5%;}
.top_yue span{ color: #df763a;}

.money_chose { width: 100%; background: #FFFFFF; padding:1.5rem 0rem;}
.moneyul li{ width: 26.6666%;  float: left; background: #f2ece9; margin:0rem 0rem 1.2rem  5%; height: 3.2rem; text-align: center;  font-size: 1.3rem; line-height: 3.2rem; color: #916a54; border-radius: 2px; }
.moneyul li.current{ background: #d85810; color: #FFFFFF;}

.input_box{ width: 90%; margin: auto; height: 3.2rem; position: relative;}
.input_box input{ width: 97%; height: 3.1rem; border: #d8cac3 solid 1px; padding-left: 3%; background: #f2ece9; border-radius:0 ; font-size: 1.3rem; color: #916A54;}
.input_box input::-webkit-input-placeholder { color:#d1c0b7;   line-height: 1.8rem; }

.paywayul li{ float: left; margin-left: 5%;}
.paywayul li label input{}
.paywayul li span.paywayicon{ font-size: 2.6rem; display: block; float: left; color: #cebcb3; }
.paywayul li span.selecticon{ font-size: 1rem; display: block; float: left; color: #d85810;  margin-top: 1rem; margin-right: 0.4rem;}
.paywayul li span.icon-xuanzhong{ color: #d85810;}
.paywayul li span.icon-weixuanzhong{ color: #cebcb3;}
.paywayul li.current span.icon-weixin{ color: #66b520;}
.paywayul li.current span.icon-zhifubao{ color: #00a0e9;}
.submitbtn{ display: block; width: 90%; margin: auto;text-align: center; height: 3.2rem; line-height: 3.2rem; background: #D85810; color: #FFFFFF;border:none; font-size: 1.3rem; border-radius: 3px;}

.reserveul li{ height: 4.6rem;  width: 90%; margin: auto; line-height: 4.6rem; border-bottom: #efeae8 solid 1px; font-size: 1.3rem; color: #564237; position: relative;}
.right_element{ position: absolute; right: 0px;top: 0px; height: 4.6rem; line-height: 4.6rem; font-size: 1.3rem; text-align: right }
.right_date{ opacity:0; width: 16rem;}
.reservemes{background: #FFFFFF;}
.right_text{ border: none; color: #906953;}
.selecttong{ background: #FFFFFF; font-size: 1.3rem; padding: 1.5rem 0rem 2rem 5%; width: 95%;}
.selecttong ul li{ width: 11.6%; background: #f2ece9; color: #cebcb3; float: left; margin-right: 5%; height: 3.2rem;  margin-top: 1.5rem; line-height:3.2rem ; text-align: center;border-radius:3px ;}
.selecttong ul li.cantap{ color: #906953;}
.selecttong ul li.current{ background: #d85810; color: #FFFFFF;}

/*send_share*/
.send_head,.header{ width: 90%; height: 3.6rem; line-height: 3.6rem; padding: 0px 5%; background: #271f1a; font-size: 1.3rem;}

.send_qx{ float: right; color: #DF763A;}
.send_qd{ float: left; color: #FFFFFF;}
.sharetextarea{ width: 90%; padding: 1rem 5%; border: none; height: 7rem; font-size: 1.3rem; color: #c5afa5;}
.addimglist{ width: 90%;padding: 0rem 5% 2rem;  background:#FFFFFF;}
.addimglist div { overflow: hidden; height: 6rem; padding-top: 0.8rem; position: relative;}
.addimglist div img{ width:86%; margin: auto; display: block;}
.addimglist div span{ position: absolute; top: 0px; right: 0px; font-size: 1.3rem; color: #FF0000;}

.selectshow{ width: 90%; padding: 0rem 5%; background: #FFFFFF; height: 3.6rem; line-height: 3.6rem; color: #8d654e; font-size: 1.2rem;}
.selectshow ul li span.icon-xuanzhong{ color: #d85810;}
.selectshow ul li span.icon-weixuanzhong{ color: #cebcb3;}

#letter{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    font-size: 75px;
    color: #555;
    text-align: center;
    line-height: 100px;
    background: rgba(145,145,145,0.6);
    position: fixed;
    left: 50%;
    top: 50%;
    margin:-50px 0px 0px -50px;
    z-index: 99;
    display: none;
}
#letter img{
    width: 50px;
    height: 50px;
    float: left;
    margin:25px 0px 0px 25px;
}
.sort_box{
    width: 100%;
    padding-top: 45px;
    overflow: hidden;
    background: #FFFFFF;
}
.sort_list{
    padding:10px 60px 10px 80px;
    position: relative;
    height: 40px;
    line-height: 40px;
    border-bottom:1px solid #efeae8;
}

.sort_list .num_logo{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    left: 20px;
}
.sort_list .num_logo img{
    width: 50px;
    height: 50px;
}
.sort_list .num_name{
    color: #000;
}

.sort_letter{
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    color:#787878;
    font-size: 14px;
    background: #f7f3f1;
    border-bottom:1px solid #efeae8;
}
.initials{
    position: fixed;
    top: 4.0rem;
    right: 0px;
    height: 100%;
    width: 15px;
    padding-right: 10px;
    text-align: center;
    font-size: 12px;
    z-index: 99;
    background: rgba(145,145,145,0);
}
.initials li{
	 height: 1.6rem;
}
.initials li a{
	color: #787878;
}
.header_fixed{ position: fixed; top: 0px; left: 0px; z-index: 10000;}
.header .header_left{ color: #FFFFFF; }
.headercontent{  width: 100%;  height: 3.6rem; position: relative;}
.headercontent .header_left{ position: absolute; left: 5%;}
.headercontent .header_left .icon-back01{ font-size: 1.5rem;}
.headercontent h1{ font-size: 1.6rem; text-align: center; color: #FFFFFF; font-weight: normal;}


/*分享信息*/
.shareone{ width: 100%; padding: 1.5rem 0rem; background: #FFFFFF; border-bottom: #efeae8 solid 1px; overflow: hidden;}
.shareone_left{ width: 24%; float: left; padding-top: 1rem;}
.shareone_left .shareuserhead{ width: 4rem; height: 4rem; overflow: hidden; margin: auto; border-radius: 2rem;} 
.shareone_right{ width: 72%; float: right; overflow: hidden; padding: 0rem 3% 0rem 0rem;}
.shareone_right h2{ font-size:1.3rem ; color: #906953; font-weight: normal;  line-height: 2.8rem;}
.shareone_right .sharetextmes{ font-size: 1.2rem; color: #564237;}
.shareimglist  li{ width: 31%; float: left; margin-right: 2.33%; overflow: hidden; height: 6.5rem;}
.shareone_right .time_xinxi{  height: 3rem; line-height: 3rem; font-size: 1.1rem; color: #cebcb3;}
.time_xinxi span{ float: right; margin-right: 0.5rem; font-size: 1.5rem;}

.sharepllisttop{ background: url(../images/toppllistbk.jpg) no-repeat center top; background-size:100% 100% ;  height: 0.6rem;}
.sharepllist{ width: 94%; background: #f2ece9; padding: 0.5rem 3%; color: #564237; line-height: 1.5rem; font-size: 1.2rem;}
.sharepllist span{ color: #906953;}

.shareaddpl{ width: 100%;}
.shareaddpl textarea{ width: 89%; border: #C5AFA5 solid 1px; padding: 0.5rem 5%; font-size: 1rem; border-radius: 0; }
.sharesendbtn{ width: 100%; height: 2rem;border: none; background: #C5AFA5; color: #FFFFFF;}

